    <div id="mraky">
    <% @mraku.times do %>
      <% 
        if rand(2)  == 1 
          mrak_position = 'left'
          mrak_class    = 'mrakr'
        else
          mrak_position = 'right'
          mrak_class    = 'mrakl'
        end
      %>      
      <img src="/img/mrak<%= rand(3)+1 %>.png" alt="" class="<%= mrak_class %> speed<%= rand(20)+1 %>" style="<%= mrak_position %>:<%= 10+rand(80) %>%;top:<%= rand(500)%>px" />
    <% end %>
    </div>

    <div id="content">
      <div id="text">
        <div id="text-container">
          <h1>Pavel Bier a Hanka Jandourková</h1>
          <p>6.8.2011 - 11:30 - Zámecká zahrada ve Slavkově u Brna</p>
          <p>další informace již brzy&hellip;</p>
        </div>
      </div>


    </div>



    <menu>
      <li><a href="#home">Úvod</a></li>
      <li><a href="#o-nas">O nás</a></li>
      <li><a href="#harmonogram">Harmonogram</a></li>
      <li><a href="#svatebni-dary">Svatební dary</a></li>
      <li><a href="#oznameni">Oznámení</a></li>
    </menu>

    <div id="texty">
      <div id="o-nas" class="text">
        <h1>O nás</h1>
      </div>
      <div id="harmonogram" class="text">
        <h1>Harmonogram</h1>
      </div>
      <div id="svatebni-dary" class="text">
        <h1>Svatební dary</h1>
      </div>
      <div id="oznameni" class="text">
        <h1>Oznámení</h1>
      </div>
    </div>
