    <div id="mraky">
    <% @mraku.times do %>
      <% 
        if rand(2)  == 1 
          mrak_position = 'left'
          mrak_class    = 'mrakr'
        else
          mrak_position = 'right'
          mrak_class    = 'mrakl'
        end
      %>      
      <img src="/img/mrak<%= rand(3)+1 %>.png" alt="" class="<%= mrak_class %> speed<%= rand(20)+1 %>" style="<%= mrak_position %>:<%= 10+rand(80) %>%;top:<%= rand(500)%>px" />
    <% end %>
    </div>

    <div id="content">
      <div id="text">
        <div id="text-container">

          <h1>Pavel Bier a Hanka Jandourková<br />
          se berou<br />
          6.8.2011 v 11:30<br />
          v Zámecké zahradě<br />
          ve Slavkově u Brna</h1>

          <div class="text-stred" id="kalendare">
          <a target="_blank" href="https://www.google.com/calendar/event?action=TEMPLATE&amp;tmeid=NTViY2Z1anFlYW45dTE0cXNxYmpqYjhmNmsgcGF2ZWwuYmllckBt&amp;tmsrc=pavel.bier%40gmail.com"><img border="0" src="http://www.google.com/calendar/images/ext/gc_button1_cs.gif"></a>
          </div>

          <div id="odpocitadlo" class="stin">
            <p class="text-stred">Do začátku obřadu zbývá:</p>
            <p id="countdown">&nbsp;</p>
          </div>


        </div>
      </div>


    </div>



    <menu>
      <li><a href="#home">Úvod</a></li>
      <li><a href="#o-svatbe">O svatbě</a></li>
      <li><a href="#harmonogram">Harmonogram</a></li>
      <li><a href="#svatebni-dary">Svatební dary</a></li>
      <li><a href="#oznameni">Oznámení</a></li>
    </menu>

    <div id="texty">
      <div id="o-svatbe" class="text">
        <div class="popis">
        <h1>O svatbě</h1>
        <p>Vše začalo loni během romantického výletu na Bouzov, kdy Pavel požádal Hanku o ruku a tím započal kolotoč svatebních příprav. Jako první došlo na hledání místa svatebního obřadu, které mělo splňovat dva požadavky. Obřad se měl odehrávat ve venkovních prostorách a místo mělo mít pro snoubence symbolický význam. 
        <img src="/img/foto_slavkov.jpg" width="200" height="150" class="foto-right" />
        Tuto představu dokonale naplnil Slavkov u Brna, který nabízí obřad <a href="http://www.zamek-slavkov.cz/cz/" class="fancyboxHtml">v zámecké zahradě</a> a kam vedl i první společný výlet snoubenců.</p>

        <p>V září došlo k výběru a zamluvení termínu obřadu a začalo hledání prostor, kam se svatební hosté po obřadu přesunou. Tímto místem byl zvolen <a href="http://www.hotelsokolskydum.cz/" class="fancyboxHtml">Hotel Sokolský dům</a> nacházející se přímo ve <a href="http://goo.gl/maps/p7rl" class="fancyboxHtml">středu Slavkovského náměstí</a>.</p>

        <p>Po svatebním obědě s rodinou se o zábavu postará muzikant pan Hamrla a posléze se ke svatebnímu veselí a večernímu hodování připojí i pozvaní kamarádi. 
        Večer bude k dispozici vůz s řidičem, který rozveze znavené hosty do svých domovů. Pokud bude chtít někdo raději využít možnosti ubytování v Sokolském domě, pak je nutné dát snoubencům předem vědět na mail <a href="mailto:pavel.bier@seznam.cz">pavel.bier@seznam.cz</a></p>
        </div>

      </div>
      <div id="harmonogram" class="text">
        <div class="popis">
          <h1>Harmonogram</h1>
          <ul>
            <li>9:45 - 10:00 sraz doprovodu nevěsty na <a href="http://goo.gl/maps/bVBS" class="fancyboxHtml">Humenné</a></li>
            <li>10:10 - odjezd nevěsty směr <a href="http://goo.gl/maps/nnDl" class="fancyboxHtml">Slavkov</a></li>
            <li>10:40 - příjezd nevěsty do Slavkova</li>
            <li>11:30 - začátek obřadu</li>
            <li>12:00 - 13:00 - focení v zahradě a na zámku</li>
            <li>13:00 - 14:00 - oběd s rodinou v hotelu Sokolský dům ve Slavkově u Brna</li>
            <li>15:30 - příchod muzikanta</li>
            <li>17:30 - příchod dalších pozvaných hostů a začátek večerní zábavy spojené s prvním ořezem masa.</li>
            <li>??:?? - konec svatební zábavy</li>
          </ul>
        </div>


      </div>
      <div id="svatebni-dary" class="text">
        <div class="popis">
          <h1>Svatební dary</h1>
          <p>Vzhledem k okolnostem, kdy se nám podařilo v loňském roce vybudovat a rozšířit naši domácnost, bychom vás rádi ušetřili trápení s vymýšlením svatebních darů a požádali vás raději o finanční příspěvek v libovolné výši ke zvýšení domácího rozpočtu.</p>
          <p>Nicméně nám jde hlavně o to, abychom si s vámi mohli náš významný den užít a řádně oslavit.</p>
        </div>
      </div>
      <div id="oznameni" class="text">
        <h1>Oznámení</h1>
        <div class="text-stred">
          <a href="/img/pozvanka.png" class="pozvanka fancybox"><img src="/img/pozvanka_500.png" alt="Svatební oznámení" title="Svatební oznámení - Hana Jandourková a Pavel Bier" /></a>
        </div>
      </div>
    </div>
