    <div id="mraky">
    <% @mraku.times do %>
      <% 
        if rand(2)  == 1 
          mrak_position = 'left'
          mrak_class    = 'mrakr'
        else
          mrak_position = 'right'
          mrak_class    = 'mrakl'
        end
      %>      
      <img src="/img/mrak<%= rand(3)+1 %>.png" alt="" class="<%= mrak_class %> speed<%= rand(20)+1 %>" style="<%= mrak_position %>:<%= 10+rand(80) %>%;top:<%= rand(500)%>px" />
    <% end %>
    </div>

    <div id="content">
      <div id="text">
        <div id="text-container">
          <h1>Pavel Bier a Hanka Jandourková</h1>
          <p>6.8.2011 - 11:30 - Zámecká zahrada ve Slavkově u Brna</p>
          <p>další informace již brzy&hellip;</p>
        </div>
      </div>


    </div>
