    <div id="mraky">
    <% 25.times do %>
      <% 
        if rand(2)  == 1 
          mrak_position = 'left'
          mrak_class    = 'mrakr'
        else
          mrak_position = 'right'
          mrak_class    = 'mrakl'
        end
      %>      
      <img src="/img/mrak<%= rand(3)+1 %>.png" alt="" class="<%= mrak_class %> speed<%= rand(20)+1 %>" style="<%= mrak_position %>:100%;top:<%= rand(500)%>px;z-index:5;position:absolute;" />
    <% end %>
    </div>

    <div id="content">
      <div id="text">
        <div id="text-container">
          <h1>Hlavní obsah</h1>
          <p>daha hduahduha udashu ahduasa</p>
        </div>
      </div>


    </div>
